@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===========================
   THEME COLORS
=========================== */

:root{
  --bg: linear-gradient(135deg, #2d020a 0%, #2c070e 50%, #3a020c 100%);
  --text: #FFECD1;

  --card: #2d020a;
  --border: rgba(255, 236, 209, 0.15);

  --accent: #e7dccb;
  --accent-hover: #FFECD1;
}

/* ===========================
   GLOBAL
=========================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  font-family: "Inter", sans-serif;

  background: var(--bg);
  color: var(--text);
}

#root {
  width: 100%;
  overflow-x: hidden;
}

#main {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--text);
}

#hero {
  width: 100%;
  min-height: 100vh;
}

/* ===========================
   TYPOGRAPHY
=========================== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--text);
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--accent-hover);
}

/* ===========================
   INPUTS
=========================== */

input,
textarea {
  background: var(--card);
  color: var(--text);

  border: 1px solid var(--border);

  border-radius: 8px;
  padding: .8rem;

  transition: .3s;
}

input::placeholder,
textarea::placeholder {
  color: rgba(62, 0, 12, .55);
}

/* ===========================
   BUTTONS
=========================== */

button {
  background: var(--text);
  color: var(--bg);

  border: none;
  border-radius: 10px;

  cursor: pointer;

  transition: .3s ease;
}

button:hover {
  transform: translateY(-2px);
  opacity: .9;
}

/* ===========================
   CARDS
=========================== */

.card {
  background: var(--card);
  border: 1px solid var(--border);

  color: var(--text);

  border-radius: 16px;
}

/* ===========================
   UNDERLINE
=========================== */

.gradient-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.gradient-underline::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -2px;

  width: 100%;
  height: 2px;

  background: var(--text);

  transform: scaleX(0);
  transform-origin: left;

  transition: transform .3s ease;
}

.gradient-underline:hover::after {
  transform: scaleX(1);
}